models/
data/
log/
legacy/
embeddings/
reco_utils/
utils/
yoochoose-dataFull/
.vscode
__pycache__

word2vecReader.py
word2vecReaderUtils.py
ds.py

parse_libfm.py
model_kaggle_car.py

model_tagcat_bilstm.py
model_tagcat_textcnn.py

best_model.h5